body
{
    background: rgb(238, 200, 206); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}
.container
{
    position: relative; 
    width: 100%;
    max-height: 1000%;
    background: white;
    margin: 80px;
    box-shadow: 0 50px 75px black;
    border-left: 50px solid white;
    border-right: 50px solid white; 
}
.container .top
{
    position: relative; 
    display: grid; 
    grid-template-columns: 1fr 2fr;
    padding: 40px; 
    padding-bottom: 0; 
}
.container .top .imgBx
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center; 
}
.container .top .imgBx .box
{
    position: relative; 
    display: flex;
    width: 150%; 
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}
.container .top .imgBx .box img
{
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}
.container .top .profilteText
{
    position: relative;
    padding: 40px;
    display: flex;
    align-items: center;
}
.container .top .profileText h3
{
    font-size: 3em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-weight: 600;
    color: black;
    text-align: center;
}
.container .top .profileText h3 span
{
    position: relative;
    color: rgb(76, 74, 74);
    font-size: 0.4em;
    font-weight: 300;
    top: -10px;
}
.container .contentBox
{
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 50px 50px;
}
.container .contentBox h3
{
    border-left: 4px solid rgb(22, 133, 22);
    padding-left: 10px;
    line-height: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;
}
.container .contentBox ul
{
    list-style: none;
    padding-left: 5px;
    margin: 20px 0;
    line-height: 1.4em;
    color: rgb(76, 74, 74);
    cursor: pointer;
}
.container .contentBox ul li ion-icon
{ 
    font-size: 1em;
    margin-right: 5px;
    color: rgb(176, 75, 92)
}
.container .contentBox ul.education li
{
    flex-direction: column;
    margin: 25px 0;
    line-height: 1em;
}
h5
{
    line-height: 0.1em;
    color: rgb(208, 111, 127);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: small;
}
h4
{
    line-height: 1em;
    color: rgb(76, 74, 74);
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
.language li 
{
    flex-direction: column;
}
.language li span
{
    color: rgb(76, 74, 74);
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
.language .percent
{
    position: relative;
    width: 100%;
    background: rgb(195, 194, 194);
    height: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;

}
.language .percent div
{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    background: rgb(216, 132, 146);
}
.right_side
{
    padding-left: 70px;
}
.about .box .stage
{
    min-width: 150px;
    margin-bottom: 30px;
}
.about .box .text p
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color: rgb(76, 74, 74)
}
.container .contentBox ul.passion
{
    position: relative;
    display: grid;
    grid-template-columns: 3fr 3fr;
}
.lien
{ 
    display:flex;    
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
    width: fit-content;
    padding: 15px;
    background-color:rgb(215, 137, 150)
}